.page-header {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.page-header-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.logo {
  @extend %link;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: $accent-color;
}

.logo__accent {
  color: $primary-text-color;
}

.menu-button {
  @extend %button;
  width: 40px;
  height: 40px;
  padding: 12px 8px;
}

.main-nav {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.nav-list {
  @extend %list;

  display: flex;
  margin-left: 93px;
}

.nav-list__item:not(:last-child) {
  margin-right: 49px;
}

.nav-list__link {
  @extend %link;

  @include font(500, 14px, 1.14, 0.02em);
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $primary-text-color;
}

.auth-nav {
  @extend %list;
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.auth-nav__link {
  @extend %link;

  display: inline-flex;
  align-items: center;
  color: $secondary-text-color;
}
